<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    <style>

.navbar {
    background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    color: #5e4b8b;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: #fff;
    background: #bda0ff;
    padding: 5px 10px;
    border-radius: 8px;
}
    </style>
</head>

<body>

<div class="navbar">
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/voitures}">Voitures</a>
    <a th:href="@{/locations}">Locations</a>
    <a th:href="@{/stats}">Statistiques</a>
</div>

<h1>Bienvenue dans l'application de location de voiture </h1>

</body>
</html>